ACEA/
AquaCropV61Nr02052018/
NoteHan.txt
*.csv
.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
# [Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

~$Issues_Pulls_Priority.xlsx
Issues_Pulls_Priority.xlsx
AquaCropV60.zip
AquaCropV60/__MACOSX/._AquaCropV60
AquaCropV60/__MACOSX/AquaCropV60/.__DEISREG.ISR
AquaCropV60/__MACOSX/AquaCropV60/.__ISREG32.DLL
AquaCropV60/__MACOSX/AquaCropV60/._AquaCrop.exe
AquaCropV60/__MACOSX/AquaCropV60/._AquaCrop.ico
AquaCropV60/__MACOSX/AquaCropV60/._DATA
AquaCropV60/__MACOSX/AquaCropV60/._DeIsL1.isu
AquaCropV60/__MACOSX/AquaCropV60/._IMPORT
AquaCropV60/__MACOSX/AquaCropV60/._IrriSchedule.AqC
AquaCropV60/__MACOSX/AquaCropV60/._OBS
AquaCropV60/__MACOSX/AquaCropV60/._OUTP
AquaCropV60/__MACOSX/AquaCropV60/._SIMUL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._A1B.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._A2.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Axum.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Axum.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Axum.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Axum.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._B1.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._B2.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Barley.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._BarleyGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Bogota.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Bogota.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Bru76-05.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Bru76-05.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Bru76-05.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Bru76-05.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Brussels.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Brussels.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Brussels.Plu
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Brussels.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._BrusselsDec.Plu
AquaCropV60/__MACOSX/AquaCropV60/DATA/._BrusselsMonth.Plu
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Clay.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._ClayLoam.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Const15.GWT
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Constant2.GWT
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Cordoba.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Cordoba.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Cordoba.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Cordoba.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Cotton.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._CottonGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Davis.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Davis.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Davis.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Davis.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._DAVIS96-MZ.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._DAVIS96-MZ.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._DAVIS96-MZ.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._DryBean.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._DryBeanGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._DryWet.SW0
AquaCropV60/__MACOSX/AquaCropV60/DATA/._ETo5mm.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Example.Irr
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Example.OFF
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Example.SW0
AquaCropV60/__MACOSX/AquaCropV60/DATA/._ExampleBunds.MAN
AquaCropV60/__MACOSX/AquaCropV60/DATA/._ExampleMulch.MAN
AquaCropV60/__MACOSX/AquaCropV60/DATA/._ExampleWeeds.MAN
AquaCropV60/__MACOSX/AquaCropV60/DATA/._F2Observed.SW0
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Foggia.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Foggia.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Foggia.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Foggia.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._GlobalAverage.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Hawzen.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Hawzen.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Hawzen.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Hawzen.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Igen.IRR
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Inet.IRR
AquaCropV60/__MACOSX/AquaCropV60/DATA/._IPCC-BERN_A1B.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Lima.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Lima.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Lima.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Lima.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Loam.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._LoamySand.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._long.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._LosBanos.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._LosBanos.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._LosBanos.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._LosBanos.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Maize.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._MaizeGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._MaizeGDDTest.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._ModerateSF.MAN
AquaCropV60/__MACOSX/AquaCropV60/DATA/._NoRain.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._PADDY.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._PaddyRice.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._PaddyRiceGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Patancheru.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Patancheru.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Patancheru.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Patancheru.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Phanrang.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Phanrang.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Phanrang.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Phanrang.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Potato.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._PotatoGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Quinoa.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._RCP2-6.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._RCP4-5.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._RCP6-0.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._RCP8-5.CO2
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Sand.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SandyClay.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SandyClayLoam.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SandyLoam.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Silt.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SiltClayLoam.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SiltLoam.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SiltyClay.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Sorghum.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SorghumGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Soybean.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SoybeanGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SugarBeet.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SugarBeetGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SugarCane.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Sunflower.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._SunflowerGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tef.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._TemplateClimaticData.txt
AquaCropV60/__MACOSX/AquaCropV60/DATA/._test.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._test.IRR
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tomato.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._TomatoGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._TR2a.IRR
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tr2bFix.IRR
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tunis.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tunis.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tunis.Plu
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Tunis.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._TunisDec.Plu
AquaCropV60/__MACOSX/AquaCropV60/DATA/._TunisMonth.Plu
AquaCropV60/__MACOSX/AquaCropV60/DATA/._TunisSoil.SOL
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Valenzano.CLI
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Valenzano.ETo
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Valenzano.PLU
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Valenzano.TMP
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Var4.GWT
AquaCropV60/__MACOSX/AquaCropV60/DATA/._WetDry.SW0
AquaCropV60/__MACOSX/AquaCropV60/DATA/._Wheat.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._WheatGDD.CRO
AquaCropV60/__MACOSX/AquaCropV60/DATA/._WPSandLoam.SW0
AquaCropV60/__MACOSX/AquaCropV60/DATA/._YoloClayLoam6.SOL
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._BredaSyria.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._Cairo.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._Chontamarca.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._Eldoret.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._EldoretMM.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._Hagere-Selam.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._Irpani.CXT
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._JinderisSyria.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._Kurnool.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._La-Paz-Alto.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._LosBanos1997_2014.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._TalAmara.txt
AquaCropV60/__MACOSX/AquaCropV60/IMPORT/._TelHadyaSyria.txt
AquaCropV60/__MACOSX/AquaCropV60/OBS/._defaultCC.OBS
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectClim.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectCompEC.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectCompWC.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectCrop.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectInet.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectProf.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectRun.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectSalt.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._ProjectWabal.OUT
AquaCropV60/__MACOSX/AquaCropV60/OUTP/._Test1987Clim.OUT
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Crop.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._DEFAULT.CRO
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Default.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._DEFAULT.SOL
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._ExchangeData.SIM
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Field.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._General.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._HotStartData.SIM
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._MaunaLoa.CO2
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Onset.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Planting.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Rainfall.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Soil.PAR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._SOILS.DIR
AquaCropV60/__MACOSX/AquaCropV60/SIMUL/._Temperature.PAR
AquaCropV60/AquaCropV60/_DEISREG.ISR
AquaCropV60/AquaCropV60/_ISREG32.DLL
AquaCropV60/AquaCropV60/AquaCrop.exe
AquaCropV60/AquaCropV60/AquaCrop.ico
AquaCropV60/AquaCropV60/DeIsL1.isu
AquaCropV60/AquaCropV60/IrriSchedule.AqC
AquaCropV60/AquaCropV60/DATA/A1B.CO2
AquaCropV60/AquaCropV60/DATA/A2.CO2
AquaCropV60/AquaCropV60/DATA/Axum.CLI
AquaCropV60/AquaCropV60/DATA/Axum.ETo
AquaCropV60/AquaCropV60/DATA/Axum.PLU
AquaCropV60/AquaCropV60/DATA/Axum.TMP
AquaCropV60/AquaCropV60/DATA/B1.CO2
AquaCropV60/AquaCropV60/DATA/B2.CO2
AquaCropV60/AquaCropV60/DATA/Barley.CRO
AquaCropV60/AquaCropV60/DATA/BarleyGDD.CRO
AquaCropV60/AquaCropV60/DATA/Bogota.ETo
AquaCropV60/AquaCropV60/DATA/Bogota.TMP
AquaCropV60/AquaCropV60/DATA/Bru76-05.CLI
AquaCropV60/AquaCropV60/DATA/Bru76-05.ETo
AquaCropV60/AquaCropV60/DATA/Bru76-05.PLU
AquaCropV60/AquaCropV60/DATA/Bru76-05.TMP
AquaCropV60/AquaCropV60/DATA/Brussels.CLI
AquaCropV60/AquaCropV60/DATA/Brussels.ETo
AquaCropV60/AquaCropV60/DATA/Brussels.Plu
AquaCropV60/AquaCropV60/DATA/Brussels.TMP
AquaCropV60/AquaCropV60/DATA/BrusselsDec.Plu
AquaCropV60/AquaCropV60/DATA/BrusselsMonth.Plu
AquaCropV60/AquaCropV60/DATA/Clay.SOL
AquaCropV60/AquaCropV60/DATA/ClayLoam.SOL
AquaCropV60/AquaCropV60/DATA/Const15.GWT
AquaCropV60/AquaCropV60/DATA/Constant2.GWT
AquaCropV60/AquaCropV60/DATA/Cordoba.CLI
AquaCropV60/AquaCropV60/DATA/Cordoba.ETo
AquaCropV60/AquaCropV60/DATA/Cordoba.PLU
AquaCropV60/AquaCropV60/DATA/Cordoba.TMP
AquaCropV60/AquaCropV60/DATA/Cotton.CRO
AquaCropV60/AquaCropV60/DATA/CottonGDD.CRO
AquaCropV60/AquaCropV60/DATA/Davis.CLI
AquaCropV60/AquaCropV60/DATA/Davis.ETo
AquaCropV60/AquaCropV60/DATA/Davis.PLU
AquaCropV60/AquaCropV60/DATA/Davis.TMP
AquaCropV60/AquaCropV60/DATA/DAVIS96-MZ.ETo
AquaCropV60/AquaCropV60/DATA/DAVIS96-MZ.PLU
AquaCropV60/AquaCropV60/DATA/DAVIS96-MZ.TMP
AquaCropV60/AquaCropV60/DATA/DryBean.CRO
AquaCropV60/AquaCropV60/DATA/DryBeanGDD.CRO
AquaCropV60/AquaCropV60/DATA/DryWet.SW0
AquaCropV60/AquaCropV60/DATA/ETo5mm.ETo
AquaCropV60/AquaCropV60/DATA/Example.Irr
AquaCropV60/AquaCropV60/DATA/Example.OFF
AquaCropV60/AquaCropV60/DATA/Example.SW0
AquaCropV60/AquaCropV60/DATA/ExampleBunds.MAN
AquaCropV60/AquaCropV60/DATA/ExampleMulch.MAN
AquaCropV60/AquaCropV60/DATA/ExampleWeeds.MAN
AquaCropV60/AquaCropV60/DATA/F2Observed.SW0
AquaCropV60/AquaCropV60/DATA/Foggia.CLI
AquaCropV60/AquaCropV60/DATA/Foggia.ETo
AquaCropV60/AquaCropV60/DATA/Foggia.PLU
AquaCropV60/AquaCropV60/DATA/Foggia.TMP
AquaCropV60/AquaCropV60/DATA/GlobalAverage.CO2
AquaCropV60/AquaCropV60/DATA/Hawzen.CLI
AquaCropV60/AquaCropV60/DATA/Hawzen.ETo
AquaCropV60/AquaCropV60/DATA/Hawzen.PLU
AquaCropV60/AquaCropV60/DATA/Hawzen.TMP
AquaCropV60/AquaCropV60/DATA/Igen.IRR
AquaCropV60/AquaCropV60/DATA/Inet.IRR
AquaCropV60/AquaCropV60/DATA/IPCC-BERN_A1B.CO2
AquaCropV60/AquaCropV60/DATA/Lima.CLI
AquaCropV60/AquaCropV60/DATA/Lima.ETo
AquaCropV60/AquaCropV60/DATA/Lima.PLU
AquaCropV60/AquaCropV60/DATA/Lima.TMP
AquaCropV60/AquaCropV60/DATA/Loam.SOL
AquaCropV60/AquaCropV60/DATA/LoamySand.SOL
AquaCropV60/AquaCropV60/DATA/long.PLU
AquaCropV60/AquaCropV60/DATA/LosBanos.CLI
AquaCropV60/AquaCropV60/DATA/LosBanos.ETo
AquaCropV60/AquaCropV60/DATA/LosBanos.PLU
AquaCropV60/AquaCropV60/DATA/LosBanos.TMP
AquaCropV60/AquaCropV60/DATA/Maize.CRO
AquaCropV60/AquaCropV60/DATA/MaizeGDD.CRO
AquaCropV60/AquaCropV60/DATA/MaizeGDDTest.CRO
AquaCropV60/AquaCropV60/DATA/ModerateSF.MAN
AquaCropV60/AquaCropV60/DATA/NoRain.PLU
AquaCropV60/AquaCropV60/DATA/PADDY.SOL
AquaCropV60/AquaCropV60/DATA/PaddyRice.CRO
AquaCropV60/AquaCropV60/DATA/PaddyRiceGDD.CRO
AquaCropV60/AquaCropV60/DATA/Patancheru.CLI
AquaCropV60/AquaCropV60/DATA/Patancheru.ETo
AquaCropV60/AquaCropV60/DATA/Patancheru.PLU
AquaCropV60/AquaCropV60/DATA/Patancheru.TMP
AquaCropV60/AquaCropV60/DATA/Phanrang.CLI
AquaCropV60/AquaCropV60/DATA/Phanrang.ETo
AquaCropV60/AquaCropV60/DATA/Phanrang.PLU
AquaCropV60/AquaCropV60/DATA/Phanrang.TMP
AquaCropV60/AquaCropV60/DATA/Potato.CRO
AquaCropV60/AquaCropV60/DATA/PotatoGDD.CRO
AquaCropV60/AquaCropV60/DATA/Quinoa.CRO
AquaCropV60/AquaCropV60/DATA/RCP2-6.CO2
AquaCropV60/AquaCropV60/DATA/RCP4-5.CO2
AquaCropV60/AquaCropV60/DATA/RCP6-0.CO2
AquaCropV60/AquaCropV60/DATA/RCP8-5.CO2
AquaCropV60/AquaCropV60/DATA/Sand.SOL
AquaCropV60/AquaCropV60/DATA/SandyClay.SOL
AquaCropV60/AquaCropV60/DATA/SandyClayLoam.SOL
AquaCropV60/AquaCropV60/DATA/SandyLoam.SOL
AquaCropV60/AquaCropV60/DATA/Silt.SOL
AquaCropV60/AquaCropV60/DATA/SiltClayLoam.SOL
AquaCropV60/AquaCropV60/DATA/SiltLoam.SOL
AquaCropV60/AquaCropV60/DATA/SiltyClay.SOL
AquaCropV60/AquaCropV60/DATA/Sorghum.CRO
AquaCropV60/AquaCropV60/DATA/SorghumGDD.CRO
AquaCropV60/AquaCropV60/DATA/Soybean.CRO
AquaCropV60/AquaCropV60/DATA/SoybeanGDD.CRO
AquaCropV60/AquaCropV60/DATA/SugarBeet.CRO
AquaCropV60/AquaCropV60/DATA/SugarBeetGDD.CRO
AquaCropV60/AquaCropV60/DATA/SugarCane.CRO
AquaCropV60/AquaCropV60/DATA/Sunflower.CRO
AquaCropV60/AquaCropV60/DATA/SunflowerGDD.CRO
AquaCropV60/AquaCropV60/DATA/Tef.CRO
AquaCropV60/AquaCropV60/DATA/TemplateClimaticData.txt
AquaCropV60/AquaCropV60/DATA/test.CRO
AquaCropV60/AquaCropV60/DATA/test.IRR
AquaCropV60/AquaCropV60/DATA/Tomato.CRO
AquaCropV60/AquaCropV60/DATA/TomatoGDD.CRO
AquaCropV60/AquaCropV60/DATA/TR2a.IRR
AquaCropV60/AquaCropV60/DATA/Tr2bFix.IRR
AquaCropV60/AquaCropV60/DATA/Tunis.CLI
AquaCropV60/AquaCropV60/DATA/Tunis.ETo
AquaCropV60/AquaCropV60/DATA/Tunis.Plu
AquaCropV60/AquaCropV60/DATA/Tunis.TMP
AquaCropV60/AquaCropV60/DATA/TunisDec.Plu
AquaCropV60/AquaCropV60/DATA/TunisMonth.Plu
AquaCropV60/AquaCropV60/DATA/TunisSoil.SOL
AquaCropV60/AquaCropV60/DATA/Valenzano.CLI
AquaCropV60/AquaCropV60/DATA/Valenzano.ETo
AquaCropV60/AquaCropV60/DATA/Valenzano.PLU
AquaCropV60/AquaCropV60/DATA/Valenzano.TMP
AquaCropV60/AquaCropV60/DATA/Var4.GWT
AquaCropV60/AquaCropV60/DATA/WetDry.SW0
AquaCropV60/AquaCropV60/DATA/Wheat.CRO
AquaCropV60/AquaCropV60/DATA/WheatGDD.CRO
AquaCropV60/AquaCropV60/DATA/WPSandLoam.SW0
AquaCropV60/AquaCropV60/DATA/YoloClayLoam6.SOL
AquaCropV60/AquaCropV60/IMPORT/BredaSyria.txt
AquaCropV60/AquaCropV60/IMPORT/Cairo.txt
AquaCropV60/AquaCropV60/IMPORT/Chontamarca.txt
AquaCropV60/AquaCropV60/IMPORT/Eldoret.txt
AquaCropV60/AquaCropV60/IMPORT/EldoretMM.txt
AquaCropV60/AquaCropV60/IMPORT/Hagere-Selam.txt
AquaCropV60/AquaCropV60/IMPORT/Irpani.CXT
AquaCropV60/AquaCropV60/IMPORT/JinderisSyria.txt
AquaCropV60/AquaCropV60/IMPORT/Kurnool.txt
AquaCropV60/AquaCropV60/IMPORT/La-Paz-Alto.txt
AquaCropV60/AquaCropV60/IMPORT/LosBanos1997_2014.txt
AquaCropV60/AquaCropV60/IMPORT/TalAmara.txt
AquaCropV60/AquaCropV60/IMPORT/TelHadyaSyria.txt
AquaCropV60/AquaCropV60/OBS/defaultCC.OBS
AquaCropV60/AquaCropV60/OUTP/ProjectClim.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectCompEC.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectCompWC.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectCrop.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectInet.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectProf.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectRun.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectSalt.OUT
AquaCropV60/AquaCropV60/OUTP/ProjectWabal.OUT
AquaCropV60/AquaCropV60/OUTP/Test1987Clim.OUT
AquaCropV60/AquaCropV60/SIMUL/Crop.PAR
AquaCropV60/AquaCropV60/SIMUL/DEFAULT.CRO
AquaCropV60/AquaCropV60/SIMUL/Default.PAR
AquaCropV60/AquaCropV60/SIMUL/DEFAULT.SOL
AquaCropV60/AquaCropV60/SIMUL/ExchangeData.SIM
AquaCropV60/AquaCropV60/SIMUL/Field.PAR
AquaCropV60/AquaCropV60/SIMUL/General.PAR
AquaCropV60/AquaCropV60/SIMUL/HotStartData.SIM
AquaCropV60/AquaCropV60/SIMUL/MaunaLoa.CO2
AquaCropV60/AquaCropV60/SIMUL/Onset.PAR
AquaCropV60/AquaCropV60/SIMUL/Planting.PAR
AquaCropV60/AquaCropV60/SIMUL/Rainfall.PAR
AquaCropV60/AquaCropV60/SIMUL/Soil.PAR
AquaCropV60/AquaCropV60/SIMUL/SOILS.DIR
AquaCropV60/AquaCropV60/SIMUL/Temperature.PAR
